[xf-editor] {
  [xf-style-bold='true'] {
    font-weight: bold;
  }

  [xf-style-italic='true'] {
    font-style: italic;
  }

  [xf-style-underline='true'] {
    text-decoration: underline;
  }

  [xf-style-strike='true'] {
    text-decoration: line-through;
  }

  [xf-style-code='true'] {
    background-color: #e1e1e1;
    padding: 0 0.2em;
    border-radius: 3px;
  }

  [xf-style-c='red'] {
    color: red;
  }

  .xf-scrollbar {

    /* FireFox */
    scrollbar-width: thin; /* 滚动条宽度 */
    scrollbar-color: #ccc #fff; /* 滚动条滑块颜色和轨道背景颜色 */

    /* 整个滚动条 */
    &::-webkit-scrollbar {
      width: 8px; /* 纵向滚动条的宽度 */
      height: 8px; /* 横向滚动条的高度 */
    }

    /* 滚动条滑块 */
    &::-webkit-scrollbar-thumb {
      background-color: #ccc; /* 滑块颜色 */
      border-radius: 8px; /* 滑块圆角 */
      border: 1px solid transparent; /* 滑块边框 */
      background-clip: content-box; /* 滑块背景剪裁 */
    }

    /* 滚动条轨道 */
    &::-webkit-scrollbar-track {
      background: #fff; /* 轨道背景颜色 */
      border-radius: 8px; /* 轨道圆角 */
    }

  }
}
