<table>
  <colgroup>
    <col *ngFor="let col of props?.colWidths" [width]="col">
  </colgroup>
  <tbody>
    <ng-container *ngFor="let row of children; index as idx; trackBy: trackBy">
      <ng-container [xf-render-block]="{ model: row, parentId: id, index: idx, cdr }"></ng-container>
    </ng-container>
<!--      <tr xf-table-row-block *ngFor="let row of children" [model]="row" [parentId]="id"></tr>-->
  </tbody>
</table>
