<div xf-free-block [model]="model" [parentId]="'root'" (ready)="onReady()" #fbc *ngIf="model"></div>

<button (click)="onClick()">更换第二条</button>
<button (click)="onClick2()">增加table cell</button>
<button (mousedown)="onClick4($event)">文本改颜色为红</button>
<button (mousedown)="onClick6($event)">改选中文本为code</button>
<button (mousedown)="onClick5($event)">加粗选中文本</button>
<button (mousedown)="onGetData($event)" >打印现有数据</button>

<div>
  <input [(ngModel)]="input1" type="number">
  <input [(ngModel)]="input2" type="number">
  <button (click)="onClick3()">按以上输入生成 X 行 X 列 的表格</button>
</div>

