<!--<td *ngFor="let cell of children" xf-table-cell-block [model]="cell" [parentId]='id'></td>-->
<ng-container *ngFor="let cell of children; index as idx; trackBy: trackBy">
  <ng-container [xf-render-block]="{ model: cell, parentId: id, index: idx, cdr }"></ng-container>
</ng-container>
